<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

        <main id="administracaoEstoque">
            <article id="Visualizacao">
                <section class="itemViewHeader">
                    <span class="material-icons">list_alt</span><h2>Operações / Estoque</h2>
                </section>
                <section class="itemViewMain">
                    <section class="itemViewBody produto">
                        <table id="tabela-estoque">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Quantidade</th>
                                    <th>Custo</th>
                                    <th>Vendável?</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% estoque.forEach(item => {%>
                                <tr>
                                    <td><%= item.nome %></td>
                                    <td><%= item.quantidade %> <%= item.unMedida.unidade %></td>
                                    <td class="center"><%= item.custo_unitario %></td>
                                    <% if(item.vendavel) { %>
                                        <td class="center"><input type="checkbox" checked disabled></td>
                                    <% } else { %>
                                        <td class="center"><input type="checkbox" disabled></td>
                                    <% }; %>
                                    <td><a class="btn-editar btn material-icons" href="/admin/estoque/<%= item.id %>">edit</a>
                                        <a class="btn-deletar btn material-icons" onClick="excluirItem(<%= item.id %>)">delete</a>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </section>
                </section>
                <section class="itemViewFooter">
                    <button type="button" class="material-icons" onClick="window.location.href='<%= `/admin/estoque/criar` %>'">add</button>
                    <button type="button" class="material-icons" onClick="retornar()">arrow_back</button>
                </section>
            </article>            
        </main>

        <%- include('../partials/footer') %>

        <script type="text/javascript">
            const API = <%- JSON.stringify(API_BASE) %>
        </script>
        <script type="text/javascript" src="/javascript/estoque.js"></script>
        <script type="text/javascript" src="/javascript/shared.js"></script>
    </body>

</html>