<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

        <main id="administracao">
            <% produtos.forEach(produto => { %>
                <a href="/admin/produtos" class="adminCardContainer produtos">
                    <section class="foto" style="background-image: url(<%= produto.imagem %>); background-size: cover;">
                    </section>
                    <section class="description">
                        <h3><%= produto.nome %></h3>
                        <p><%= produto.descricao %></p>
                        <p class="valor">R$ <%= produto.valor %></p>
                        <p class="material-icons addCart">shopping_cart</p>
                    </section>
                </a>                                
            <% }); %>
        </main>

        <div id="modal-estoque" class="modal-container">
            <div id="conteudo-modal">
                <form id="form-estoque" action="">
                    <div class="btn-fechar"> <button id="fechar-tudo" class="fechar-modal">x</button></div>
                    <h1>Carrinho de compras</h1>
                    <label for="nome-item">Nome</label>
                    <input type="text" id="nome-item" class="input-cadastro" name="nome-item"
                        placeholder="Digite o nome do item">
                    <label for="qtd">Quantidade</label>
                    <input type="number" id="qtd" class="input-cadastro" name="qtd"
                        placeholder="Quantidade">
                    <label for="custo">Custo</label>
                    <input type="number" id="custo" class="input-cadastro" name="custo"
                        placeholder="Digite o custo da unidade">
                    <label for="vendavel" class="vendavel">Vendável?</label>
                    <input type="checkbox" id="vendavel" class="input-cadastro vendavel" name="vendavel">
                    <input type="number" id="valor" class="input-cadastro" name="valor"
                        placeholder="Digite o preço de venda da unidade">
                    <input type="submit" class="btn-cliente" value="Salvar">
                </form>
            </div>
        </div>

        <%- include('../partials/footer') %>

        <%- include('../partials/scripts') %>

        <script>
            function iniciaModal(modalId){
                const modal = document.getElementById(modalId);
                modal.classList.add('mostrar');
                modal.addEventListener('click',(e)=>{
                   if(e.target.id =='fechar-tudo'){
                    modal.classList.remove('mostrar');
                   };
                });
            };
            const btnClienteAdd = document.querySelector('.add-estoque');
            btnClienteAdd.addEventListener('click',()=>{
                iniciaModal('modal-estoque');
               
            });
        </script>

    </body>

</html>