<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

        <main id="administracao">
            <% produtos.forEach(produto => { %>
                <a href="/admin/produtos" class="adminCardContainer produtos">
                    <section class="foto" style="background-image: url(<%= produto.imagem %>); background-size: cover;">
                    </section>
                    <section class="description">
                        <h3><%= produto.nome %></h3>
                        <p><%= produto.descricao %></p>
                        <p class="valor">R$ <%= produto.valor %></p>
                        <p class="material-icons addCart">shopping_cart</p>
                    </section>
                </a>                                
            <% }); %>
        </main>

        <%- include('../partials/footer') %>

        <%- include('../partials/scripts') %>

    </body>

</html>