<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

        <main id="administracao">
            <article id="Visualizacao" class="produto">
                <section class="itemViewHeader">
                    <span class="material-icons">receipt</span>
                    <h2>Edição de produtos</h2>
                </section>
                <section class="itemViewMain">
                    <section class="itemViewBody produto">
                        <% produtos.forEach((produto) => { %>
                            <form action="/produtos/<%= produto.id %>?_method=put" id="FormProduto" method="POST" class="adminCardContainer produtos">
                                <section class="foto" style="background-image: url(<%= produto.itemEstoque.foto %>); background-size: cover;">
                                </section>
                                <section class="description">
                                    <h3><%= produto.itemEstoque.nome %></h3>
                                    <p class="valor">R$ <%= produto.valor %></p>
                                </section>
                                <section class="adminCardFooter">
                                    <button type="button" class="material-icons" >create</button>
                                </section>
                            </form>                                
                        <% }); %>
                    </section>
                </section>
                <section class="itemViewFooter">
                    <button type="button" class="material-icons" onClick="retornar()">arrow_back</button>
                </section>
            </article>
        </main>

        <%- include('../partials/footer') %> 

        <script type="text/javascript" src="/javascript/shared.js"></script>
    </body>

</html>