<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

        <main id="administracao">
            <% receitas.forEach(receita => { %>
                <section class="adminCardContainer">
                    <section class="logo" style="background-image: url(<%= receita.foto %>); background-size: cover;">
                    </section>
                    <section class="description">
                        <h3><%= receita.fabricado.nome %></h3>
                        <p><%= receita.descricao %></p>
                    </section>
                    <section class="adminCardFooter">
                        <button class="material-icons" onclick="window.location.href='<%= `/admin/receitas/${receita.id}` %>'">remove_red_eye</button>
                        <button class="material-icons" onclick="excluirReceita(<%= receita.id %>)">delete</button>
                    </section>
                </section>                                
            <% }); %>
        </main>

        <%- include('../partials/footer') %>

        <script src="/javascript/receitas.js"></script>
        <script type="text/javascript" src="/javascript/shared.js"></script>
    </body>

</html>