<header>
    <section id="systemTitle">
        <img id="logo" src="/images/logo2.png" alt="">
        <h1>Sistema de Gestão de Confeitaria</h1>
        <a id="logout" href="/logout"><img src="/images/userAvatar.png" alt=""><%= user.nome_usuario %> <img src="/images/logout.png" alt=""></a>
    </section>
    <nav>
        <input type="checkbox" id="menu">
        <label for="menu" id="icone-sanduiche" class="material-icons">reorder</label>
        <ul id="mainNav">
            <li class=<%= tabs.homeAct %>><a href="/home">Home</a></li>
            <li class=<%= tabs.operacaoAct %>><a href="/admin">Operação</a></li>
            <li class=<%= tabs.financeiroAct %>><a href="/financeiro">Financeiro</a></li>
            <li class=<%= tabs.clientesAct %>><a href="/clientes">Clientes</a></li>
            <li class=<%= tabs.funcionariosAct %>><a href="/funcionarios">Funcionários</a></li>
        </ul>
    </nav>
</header>