<header>
    <section id="systemTitle">
        <img id="logo" src="/images/logo.png" alt="">
        <h1>Sistema de Gestão de Confeitaria</h1>
        <button id="logout"><img src="/images/userAvatar.png" alt="">Username<img src="/images/logout.png" alt=""></button>
    </section>
    <div class="BorderDeco"></div>
    <nav>
        <ul>
            <li class=<%= tabs.homeAct %>><a href="/home">Home</a></li>
            <li class=<%= tabs.adminAct %>><a href="/admin">Administração</a></li>
            <li class=<%= tabs.financeiroAct %>><a href="/financeiro">Financeiro</a></li>
            <li class=<%= tabs.clientesAct %>><a href="/clientes">Clientes</a></li>
            <li class=<%= tabs.funcionariosAct %>><a href="/funcionarios">Funcionários</a></li>
            <li class=<%= tabs.pdvAct %>><a href="/pdv">PDV-Caixa</a></li>
        </ul>
    </nav>
</header>