<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main id="financeiro">
        <input type="checkbox" id="check">
        <label for="check"><span id="icone-sanduiche" class="material-icons">reorder</span></label>
        <aside id="painel">
            <h2>Relatorios</h2>
            <nav>
                <a href="#">
                    <div class="link"> Financeiro <span class="material-icons">
                            pie_chart
                        </span></div>
                </a>
                <a href="#">
                    <div class="link">Vendas<span class="material-icons">
                            insert_chart
                        </span></div>
                </a>
                <a href="#">
                    <div class="link">Relatorio - 3<span class="material-icons">
                            show_chart
                        </span></div>
                </a>
                <a href="#">
                    <div class="link">Relatorio - 4<span class="material-icons">
                            bubble_chart
                        </span></div>
                </a>
                <a href="#">
                    <div class="link">Relatorio - 5<span class="material-icons">
                            scatter_plot
                        </span></div>
                </a>
            </nav>
        </aside>

        <section id="dash-board">

            <form id="datas" action="">
                <div id="periodo">
                    <div class="input-data">
                        <label for="data-inicial">data inicial</label>
                        <input type="date" id="data-inicial">
                    </div>
                    <div class="input-data">
                        <label for="data-final">data final</label>
                        <input type="date" id="data-final">
                    </div>
                    <div class="input-data">
                        <label id="btn-label" for="data-inicial">.</label>
                        <input type="submit" id="btn-data" value="Buscar">
                    </div>
                </div>

            </form>

            <div id="cards">
                <div class="card-container">
                    <div class="card-main">
                        <div class="card-left">
                            <span class="material-icons">
                                monetization_on
                            </span>
                        </div>
                        <div class="card-dados">
                            <div>Faturamento</div>
                            <div>R$ 20.545,33</div>
                        </div>
                    </div>
                    <div class="card-main">
                        <div class="card-left">
                            <span class="material-icons">
                                local_atm
                            </span>
                        </div>
                        <div class="card-dados">
                            <div>Lucros</div>
                            <div>R$ 99.999.999,99</div>
                        </div>
                    </div>
                    <div class="card-main">
                        <div class="card-left">
                            <span class="material-icons">
                                local_mall
                            </span>
                        </div>
                        <div class="card-dados">
                            <div>Despesas</div>
                            <div>R$ 545,33</div>
                        </div>
                    </div>
                </div>


                <div id="graficos">
                    <div class="grafico-meio">
                        <canvas id="barra"></canvas>
                    </div>
                    <div class="grafico-meio">
                        <canvas id="pizza-despesa"></canvas>
                    </div>
                                       <!-- **********************************************
                    Gráfico misto***********************************-->
                    <div class="grafico-meio">
                        <canvas id="bar-line"></canvas>
                    </div>
                    <div class="grafico-baixo">
                        <canvas id="linha-diario" width="1000px" height="200px"></canvas>
                    </div>
                </div>
            </div>
          
        </section>

    </main>

    <%- include('./partials/footer') %>
    <%= //dataFinanceiro[0].data %>

    <%- include('./partials/scripts') %>
    
    <!-- Importa o objeto dataFinanceiro de forma que os scripts seguintes consigam utilizá-lo -->
    <script>
        var dbData = <%- JSON.stringify(dataFinanceiro) %>;
    </script>
     <!-- Função para pegar core aleatorias -->
     <script> function background(teste){
        const cores =[];
        teste.forEach(element => {
            cores.push(`rgba(${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)}, 0.3)`);
        });
        return cores;
       } </script>

     <!-- Começo do grafico Despesa x Recita -->
     <script>
        
         var dataTeste =dbData[0].data;
         var cor = background(dataTeste);
         var ctx = document.getElementById('barra').getContext('2d');
         var myChart = new Chart(ctx, {
             type: 'horizontalBar',
             data: {
                 labels: ['Receita', 'Despesas', 'Lucros'],
                 datasets: [{
                     label: 'Receita x Despesas',
                     data: dataTeste,
                     
                     backgroundColor: cor,
                     borderColor: cor,
                     borderWidth: 1
                 }]
             },
             options: {
                 scales: {
                     yAxes: [{
                         ticks: {
                             beginAtZero: true
                         }
                     }]
                 }
             }
         });
     </script>
    

        <script>
            var dataTeste =dbData[1].data;
         var cor = background(dataTeste);
            var ctx = document.getElementById('pizza-despesa').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: dbData[1].labels,
                datasets: [{
                    
                    data: dbData[1].data,
                    backgroundColor: cor,
                    borderColor: cor,
                    borderWidth: 1
                }]
            },
            options: {
                
            }
        });
        </script>

       
      
        <!-- *********************************************************************
        Gráfico de barras com linhas****************************************** -->
        
        <script>
             var dataTeste =dbData[2].data;
         var cor2 = background(dataTeste);
            var ctx = document.getElementById('bar-line').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [{
                       
                        label: 'Gráfico de barras',
                        data: dbData[2].data,
                        backgroundColor:cor2,
                        borderColor:cor2,
                        borderWidth:1
                    },
                {
                   
                    type: 'line',
                    label: 'Gráfico de linha',
                    data: dbData[3].data,
                    backgroundColor: 'rgba(0,0,0,0)',
                    borderColor: 'rgba(0,0,255,0.3)'
                               
                }
            ],
                labels: dbData[2].labels,
              
                } 
                
            });
            </script>
        <script>
             var dataTeste =dbData[2].data;
         var cor2 = background(dataTeste);
            var ctx = document.getElementById('linha-diario').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [
                {
                 
                    type: 'line',
                    label: 'Receita Diaria',
                    data: dbData[4].data,
                    backgroundColor: 'rgba(0,0,0,0)',
                    borderColor: 'rgba(0,0,255,0.3)'
                               
                },
                {
                 
                    type: 'line',
                    label: 'Meta',
                    data: [180,180,180,180,180,180,180,180,180,180,180,180,180,180],
                    backgroundColor: 'rgba(0,0,0,0)',
                    borderColor: 'rgba(255,0,0,0.3)'
                               
                },
            ],
                labels: dbData[4].labels,
              
                } 
                
            });
            </script>
            
            
          
</body>

</html>

