<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main id="funcionarios">
            <article id="Visualizacao">
                <section class="itemViewHeader">
                    <span class="fas fa-id-card-alt"></span><h2>Funcionários</h2>
                </section>
                <section class="itemViewMain">
                    <section id="tabela-corpo">
                        <table id="tabela-cliente">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th class="email-head">Email</th>
                                    <th>Celular</th>
                                    <th>Ação</th>
                                    <th>Acesso</th>
                                </tr>
                            </thead>
                            <tbody>
        
                                <% funcionarios.forEach((elemento,i) => {%>
                                <tr>
                                    <td class="nome-campo"><a
                                            href="/funcionarios/verFuncionario/<%=elemento.id%>"><%= elemento.nome%> </a></td>
                                    <td class="email-campo"><a
                                            href="/funcionarios/verFuncionario/<%=elemento.id%>"><%= elemento.email%></a></td>
                                    <td><a href="/funcionarios/verFuncionario/<%=elemento.id%>"><%= elemento.telefone%></a</td> <td>
                                            <a class="btn-acao atualizar" id="edit-funcionario"
                                                href="/funcionarios/atualizar/<%= elemento.id%>"><span class="material-icons">
                                                    edit
                                                </span></a>
                                            <a class="btn-acao delete-funcionario" id="delete-funcionario"
                                                href="<%=elemento.id%>"><span class="material-icons">
                                                    delete
                                                </span></a>
                                    </td>
                                    <%if(elemento.acesso===1){%>
                                    <td>ADM</td>
                                    <%}else if(elemento.acesso===2){%>
                                    <td>USER</td>
                                    <%}else{%>
                                    <td> não cadastrado </td>
                                    <%}%>
                                        </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </section>
                </section>
                <section class="itemViewFooter">
                    <button type="button" id="btn-add" class="material-icons">add</button>
                </section>
            </article>            
        </main>

        <div id="modal-cliente" class="modal-container">
            <div id="conteudo-modal">
                <form id="form-cliente" method="POST" action="funcionarios/<%=funcionarioUnico==""?"":"?_method=PUT"%>"
                    enctype="multipart/form-data">
                    <input id="id" name="id" type="hidden" value="">
                    <div class="btn-fechar"> <button id="fechar-tudo" class="fechar-modal">x</button></div>
                    <h1 id="titulo">Cadastro de Funcionários</h1>
                    <div id="label-cliente"><label for="nome-cliente" id="label-nome">Nome</label></div>
                    <input type="text" id="nome" class="input-cadastro" name="nome"
                        placeholder="Digite o nome do funcionário">
                    <div id="label-cliente"><label for="nome-cliente" id="label-email">Email</label></div>
                    <input type="text" id="email" class="input-cadastro" name="email" placeholder="Digite o Email">
                    <div id="label-cliente"><label for="label-file" id="label-foto">Foto de Perfil</label></div>
                    <input type="file" id="avatar-input" class="input-cadastro" name="avatar" placeholder="Digite o Email">
                    <div id="label-cliente"><label for="nome-cliente" id="label-telefone">Telefone</label></div>
                    <input type="text" id="telefone" class="input-cadastro" name="telefone" placeholder="Digite o telefone">
                    <div id="label-cliente"><label for="nome-cliente" id="label-endereco">Endereço</label></div>
                    <input type="text" id="endereco" class="input-cadastro" name="endereco" placeholder="Digite o Endereço">
                    <div id="label-cliente"><label for="nome-cliente" id="label-salario">Sálario</label></div>
                    <input type="text" id="salario" class="input-cadastro" name="salario" placeholder="Digite o Sálario">
                    <input type="submit" class="btn-cliente" value="Salvar">
                </form>
            </div>
        </div>

        <div id="modal-delete" class="modal-container">
            <div id="conteudo-modal">
                <form id="form-cliente" class="form-del" method="POST"
                    action="funcionarios/<%=funcionarioUnico==""?"":"?_method=PUT"%>" enctype="multipart/form-data">
                    <input id="id" name="id" type="hidden" value="">
                    <div class="btn-fechar"> <button id="fechar-tudo" class="fechar-modal">x</button></div>
                    <h1 id="titulo"> <span class="material-icons">
                            delete
                        </span> - Delete de Funcionários</h1>
                    <div id="label-cliente"><label for="nome-cliente" id="label-nome">
                            <h3>Tem certeza que vai deletar o funcioário?</h3>
                        </label></div>
                    <div id="btn-modal"> <input type="submit" class="btn-cliente" value="Deletar">
                        <input type="submit" id="cancela" class="btn-cliente" value="Cancelar"></div>

                </form>
            </div>
        </div>

        <%- include('./partials/footer') %>

        <script>
            function iniciaModal(modalId) {
                const modal = document.getElementById(modalId);
                modal.classList.add('mostrar');
                modal.addEventListener('click', (e) => {
                    if (e.target.id == 'fechar-tudo') {
                        e.preventDefault();
                        modal.classList.remove('mostrar');
                    }
                    if (e.target.id == 'cancela') {
                        e.preventDefault();
                        modal.classList.remove('mostrar');
                    }
                });
            }


            const btnClienteAdd = document.querySelector('#btn-add');
            btnClienteAdd.addEventListener('click', (e) => {
                '<% if(funcionarioUnico!=""){%>'
                e.preventDefault()
                const titulo = document.querySelector('#titulo');
                const nome = document.querySelector('#nome');
                const email = document.querySelector('#email');
                const telefone = document.querySelector('#telefone');
                const endereco = document.querySelector('#endereco');
                const salario = document.querySelector('#salario');
                const submit = document.querySelector('.btn-cliente');
                titulo.innerHTML = "Cadastro de Funcionário"
                const formDel = document.querySelector('#form-cliente');
                form.action = "/funcionarios"
                nome.value = "";
                email.value = "";
                telefone.value = "";
                endereco.value = "";
                salario.value = "";
                submit.value = "Salvar"
                iniciaModal('modal-cliente')
                '<%}else{%>'
                e.preventDefault()
                iniciaModal('modal-cliente')
                '<%}%>'

            })
            //     btnClienteAdd.addEventListener('click', (e) => {
            //     e.preventDefault() 
            //     const titulo = document.querySelector('#titulo');
            //     const nome = document.querySelector('#nome');
            //     const email = document.querySelector('#email');
            //     const telefone = document.querySelector('#telefone');
            //     const endereco = document.querySelector('#endereco');
            //     const salario = document.querySelector('#salario');
            //     const submit = document.querySelector('.btn-cliente');
            //     titulo.innerHTML = "Cadastro de Funcionário"
            //     const formDel = document.querySelector('#form-cliente');
            //     form.action = "/funcionarios"
            //     nome.value = "";
            //     email.value = "";
            //     telefone.value = "";
            //     endereco.value = "";
            //     salario.value = "";
            //     alert("teste")
            //     submit.value = "Salvar"
            //     iniciaModal('modal-cliente');
            // });

            const del = document.getElementsByClassName('delete-funcionario');
            for (let i = 0; i < del.length; i++) {
                del[i].addEventListener('click', (e) => {
                    e.preventDefault()
                    const id = document.querySelector('#id');
                    const submit = document.querySelector('.btn-cliente');
                    const form = document.querySelector('.form-del');
                    form.action = `/funcionarios/${del[i].attributes.href.value}/?_method=DELETE`
                    id.value = del[i].attributes.href.value
                    console.log(id)
                    iniciaModal('modal-delete');
                })
            }
        </script>
        <% if(funcionarioUnico!=""){%>
        <script>
            const titulo = document.querySelector('#titulo');
            const id = document.querySelector('#id');
            const nome = document.querySelector('#nome');
            const email = document.querySelector('#email');
            const telefone = document.querySelector('#telefone');
            const endereco = document.querySelector('#endereco');
            const salario = document.querySelector('#salario');
            const submit = document.querySelector('.btn-cliente');
            const form = document.querySelector('#form-cliente');
            form.action = "/funcionarios?_method=PUT"
            titulo.innerHTML = "Atualizar Funcionário"
            submit.value = "Atualizar"
            id.value = '<%=funcionarioUnico[0].id%>'
            nome.value = '<%=funcionarioUnico[0].nome%>'
            email.value = '<%=funcionarioUnico[0].email%>'
            telefone.value = '<%=funcionarioUnico[0].telefone%>'
            endereco.value = '<%=funcionarioUnico[0].endereco%>'
            salario.value = '<%=funcionarioUnico[0].salario%>'
            iniciaModal('modal-cliente');
            console.log('<%=funcionarioUnico[0].nome%>')
        </script>
        <% } %>

        <script type="text/javascript" src="/javascript/shared.js"></script>
    </body>
</html>