<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main id="funcionarios">
        <section id="tabela-corpo">
            <table id="tabela-cliente">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="email-head">Email</th>
                        <th>Celular</th>
                        <th>Ação</th>
                        <th>Usuario</th>
                    </tr>
                </thead>
                <tbody>

                    <% funcionarios.forEach((elemento,i) => {%>
                    <tr>
                        <td class="nome-campo"><a
                                href="/funcionarios/verFuncionario/<%=elemento.id%>"><%= elemento.nome%> </a></td>
                        <td class="email-campo"><a
                                href="/funcionarios/verFuncionario/<%=elemento.id%>"><%= elemento.email%></a></td>
                        <td><a href="/funcionarios/verFuncionario/<%=elemento.id%>"><%= elemento.telefone%></a</td> <td>
                                <a class="btn-acao" href="/funcionarios/atualizar/<%= elemento.id%>"><span
                                        class="material-icons">
                                        edit
                                    </span></a>
                                <a class="btn-acao" href="/funcionarios/<%=elemento.id%>"><span class="material-icons">
                                        delete
                                    </span></a>
                        </td>
                        <%if(elemento.acesso===1){%>
                        <td>ADM</td>
                        <%}else if(elemento.acesso===2){%>
                        <td>USER</td>
                        <%}else{%>
                        <td> NÃO </td>
                        <%}%>
                          
                              
                         
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <div class="add-cliente"> <a id="btn-add" href="#"><span class="material-icons">add_circle</span></a></div>
        </section>
    </main>
    <div id="modal-cliente" class="modal-container">
        <div id="conteudo-modal">
            <form id="form-cliente" method="POST" action="funcionarios/<%=funcionarioUnico==""?"":"?_method=PUT"%>"
                enctype="multipart/form-data">
                <input id="id" name="id" type="hidden" value="">
                <div class="btn-fechar"> <button id="fechar-tudo" class="fechar-modal">x</button></div>
                <h1 id="titulo">Cadastro de Funcionários</h1>
                <div id="label-cliente"><label for="nome-cliente">Nome</label></div>
                <input type="text" id="nome" class="input-cadastro" name="nome"
                    placeholder="Digite o nome do funcionário">
                <div id="label-cliente"><label for="nome-cliente">Email</label></div>
                <input type="text" id="email" class="input-cadastro" name="email" placeholder="Digite o Email">
                <div id="label-cliente"><label for="label-file">Foto de Perfil</label></div>
                <input type="file" id="avatar-input" class="input-cadastro" name="avatar" placeholder="Digite o Email">
                <div id="label-cliente"><label for="nome-cliente">Telefone</label></div>
                <input type="text" id="telefone" class="input-cadastro" name="telefone" placeholder="Digite o telefone">
                <div id="label-cliente"><label for="nome-cliente">Endereço</label></div>
                <input type="text" id="endereco" class="input-cadastro" name="endereco" placeholder="Digite o Endereço">
                <div id="label-cliente"><label for="nome-cliente">Sálario</label></div>
                <input type="text" id="salario" class="input-cadastro" name="salario" placeholder="Digite o Sálario">
                <input type="submit" class="btn-cliente" value="Salvar">
            </form>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
    <script>
        function iniciaModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.classList.add('mostrar');
            modal.addEventListener('click', (e) => {
                if (e.target.id == 'fechar-tudo') {
                    e.preventDefault();
                    modal.classList.remove('mostrar');
                }
            });
        }
        const btnClienteAdd = document.querySelector('.add-cliente');

        btnClienteAdd.addEventListener('click', () => {
            const titulo = document.querySelector('#titulo');
            const nome = document.querySelector('#nome');
            const email = document.querySelector('#email');
            const telefone = document.querySelector('#telefone');
            const endereco = document.querySelector('#endereco');
            const salario = document.querySelector('#salario');
            const submit = document.querySelector('.btn-cliente');
            titulo.innerHTML = "Cadastro de Funcionário"
            const form = document.querySelector('#form-cliente');
            form.action = "/funcionarios"
            nome.value = "";
            email.value = "";
            telefone.value = "";
            endereco.value = "";
            salario.value = "";
            submit.value = "Salvar"
            iniciaModal('modal-cliente');
        });
    </script>
    <% if(funcionarioUnico!=""){%>
    <script>
        const titulo = document.querySelector('#titulo');
        const id = document.querySelector('#id');
        const nome = document.querySelector('#nome');
        const email = document.querySelector('#email');
        const telefone = document.querySelector('#telefone');
        const endereco = document.querySelector('#endereco');
        const salario = document.querySelector('#salario');
        const submit = document.querySelector('.btn-cliente');
        const form = document.querySelector('#form-cliente');
        form.action = "/funcionarios?_method=PUT"
        titulo.innerHTML = "Atualizar Funcionário"
        submit.value = "Atualizar"
        id.value = '<%=funcionarioUnico[0].id%>'
        nome.value = '<%=funcionarioUnico[0].nome%>'
        email.value = '<%=funcionarioUnico[0].email%>'
        telefone.value = '<%=funcionarioUnico[0].telefone%>'
        endereco.value = '<%=funcionarioUnico[0].endereco%>'
        salario.value = '<%=funcionarioUnico[0].salario%>'
        iniciaModal('modal-cliente');
        console.log('<%=funcionarioUnico[0].nome%>')
    </script>
    <% } %>
    <!-- // '<%//funcionarioUnico[0].telefone%>' -->


</body>

</html>
