<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main id="home">
            <article id="Visualizacao">
                <section class="itemViewHeader">
                    <span class="material-icons">home</span><h2>Home<h2>
                </section>
                <section class="itemViewMain">
                    <section class="itemViewBody produto">
                        <section id="homeHeader" class="itemViewDesc">
                            <img id="homeLogo" src="/images/logo2.png" alt="">
                            <p id="homeText"><b>Aqui ou através da barra de navegação você poderá acessar as seções do seu sistema de gestão.</b></p>
                        </section>
                        <section class="adminCardContainer">
                            <section class="logo">
                                <span class="material-icons">dashboard</span>
                            </section>
                            <section class="description">
                                <h3>Operação</h3>
                                <p>Funções de vendas, controle de estoque, produto e receitas</p>
                            </section>
                            <section class="adminCardFooter">
                                <button class="material-icons" onclick="window.location.href='<%= `/admin` %>'">remove_red_eye</button>
                            </section>
                        </section>
                        <section class="adminCardContainer">
                            <section class="logo">
                                <span class="material-icons">insert_chart</span>
                            </section>
                            <section class="description">
                                <h3>Financeiro</h3>
                                <p>Exibição de relatórios financeiros</p>
                            </section>
                            <section class="adminCardFooter">
                                <button class="material-icons" onclick="window.location.href='<%= `/financeiro` %>'">remove_red_eye</button>
                            </section>
                        </section>
                        <section class="adminCardContainer">
                            <section class="logo">
                                <span class="material-icons">people</span>
                            </section>
                            <section class="description">
                                <h3>Clientes</h3>
                                <p>Cadastro, edição e visualização de clientes</p>
                            </section>
                            <section class="adminCardFooter">
                                <button class="material-icons" onclick="window.location.href='<%= `/clientes` %>'">remove_red_eye</button>
                            </section>
                        </section>
                        <section class="adminCardContainer">
                            <section class="logo">
                                <span class="fas fa-id-card-alt homeFas"></span>
                            </section>
                            <section class="description">
                                <h3>Funcionários</h3>
                                <p>Cadastro, edição e visualização de funcionários</p>
                            </section>
                            <section class="adminCardFooter">
                                <button class="material-icons" onclick="window.location.href='<%= `/funcionarios` %>'">remove_red_eye</button>
                            </section>
                        </section>
                    </section>
                </section>
            </article>
        </main>

        <%- include('./partials/footer') %>

        <script type="text/javascript" src="/javascript/shared.js"></script>
    </body>

</html>