<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
        <main id="funcionarios">
            <article id="Visualizacao">
                <section class="itemViewHeader">
                    <span class="fas fa-id-card-alt"></span><h2>Funcionário</h2>                    
                </section>
                <section class="itemViewMain">
                    <section class="itemViewDesc funcionario">
                        <img src="/images/avatar/<%= funcionarios[0].avatar%>">
                        <h3><%=funcionarios[0].nome%></h3>
                    </section>
                    <section class="itemViewBody">
                        <section class="itemInfo">
                            <h4 class="sectionDivider">Dados cadastrais</h4>
                            <p><b>Email: </b><%=funcionarios[0].email %></p>
                            <p><b>Telefone: </b><%=funcionarios[0].telefone%></p>
                            <p><b>Logradouro: </b><%=funcionarios[0].endereco%></p>
                        </section>
                        <section class="itemInfo">
                            <h4 class="sectionDivider">Dados funcionais</h4>
                            <p><b>Cargo: </b> - </p>
                            <p><b>Salário:R$ </b><%=funcionarios[0].salario%></p>
                            <p><b>Data de Admisão:
                                    </b><%=moment(funcionarios[0].createdAt).format("DD/MM/YYYY")%></p>
                        </section>
                        <section class="itemInfo">
                            <h4 class="sectionDivider">Usuário do sistema</h4>
                            <p><b>Usuário: </b><% if(usuarioCadastrado.length <=0) { %>
                                    <span>Não cadastrado</span>
                                <% } else { %>
                                    <%= usuarioCadastrado[0].nome_usuario %>
                                <% } %>
                            </p>
                            <% if(usuarioCadastrado.length > 0) { %>
                                <p><b>Acesso: </b><% if(usuarioCadastrado.length > 0) {if(usuarioCadastrado[0].acesso == 1){ %>
                                        "ADM"
                                    <% } else if(usuarioCadastrado[0].acesso==2){ %>
                                        "USER"
                                    <% }} %>
                                </p>
                                <p><b>Data de Início: </b><%=moment(usuarioCadastrado[0].createdAt).format("DD/MM/YYYY")%></p>
                                <div class="infoFooter">
                                    <button type="button" id="btn-edit" class="fas fa-user-edit addRemItem"></button>
                                    <button type="button" id="btn-excluir" class="material-icons addRemItem">delete</button>
                                </div>
                            <% } else { %>
                                <div class="infoFooter">
                                    <button type="button" id="btn-add" class="material-icons addRemItem">person_add_alt_1</button>                                
                                </div>
                            <% } %>
                        </section>
                    </section>                    
                </section>
                <section class="itemViewFooter">
                    <button type="button" class="material-icons" onClick="window.location.href='/funcionarios/atualizar/<%= funcionarios[0].id%>'">edit</button>
                    <button type="button" id="delete-funcionario" class="material-icons delete-funcionario" funcId="<%= funcionarios[0].id %>">delete</button>
                    <button class="material-icons" onclick="retornar()">arrow_back</button>
                </section>
            </article>
        </main>

        <div id="modal-usuario" class="modal-container">
            <div id="conteudo-modal">
                <form id="form-cliente" class="form-usuario" method="POST" action="/usuarios" name="form-usuario"
                    style="position: relative;">
                    <h1 id="titulo">Cadastro de Usuário</h1>
                    <button id="fechar-tudo" class="fechar-modal">x</button>
                    <input type="hidden" id="id" name="id" value="<%=funcionarios[0].id%> ">
                    <div id="label-cliente"><label for="nome-cliente">Nome de Usuário</label></div>
                    <input type="text" id="nome-usuario" class="input-cadastro" name="nome"
                        placeholder="Digite o nome de Usuario" value="<%=funcionarios[0].email%>">
                    <div id="label-cliente"><label id="label-acesso" for="nome-cliente">Privilégio</label></div>
                    <select type="select" id="acesso" class="input-cadastro" name="nivel">
                        <option value="" disabled selected>Escolha o nível de acesso</option>
                        <option value="1">ADM</option>
                        <option value="2">USER</option>
                    </select>
                    <div id="label-cliente"><label id="nova-senha" for="nome-cliente">Senha</label></div>
                    <input type="password" id="senha" class="input-cadastro" value="<%=funcionarios[0].email%>" name="senha"
                        placeholder="Digite uma senha">

                    <input type="submit" id="input-usuario" onclick="" class="btn-cliente btn-submit" value="Salvar">
                </form>
            </div>
        </div>


        <!-- Modal Delete -->
        <div id="modal-delete" class="modal-container">
            <div id="conteudo-modal">
                <form id="form-cliente" class="form-del" method="POST" action="/usuarios?_method=DELETE">
                    <input id="id-del" name="id" type="hidden" value="">
                    <div class="btn-fechar"> <button id="fechar-tudo" class="fechar-modal">x</button></div>
                    <h1 id="titulo"> <span class="material-icons">
                            delete
                        </span> - Exclusão de Usuário</h1>
                    <div id="label-cliente"><label for="nome-cliente" id="label-nome">
                            <h3 style="font-size: 20px; margin-top:15px;">Tem certeza que deseja excluir o Usuário?</h3>
                        </label></div>
                    <div id="btn-modal"> <input type="submit" class="btn-cliente" value="Deletar">
                        <input type="submit" id="cancela" class="btn-cliente" value="Cancelar"></div>

                </form>
            </div>
        </div>
        <!-- Fim de Modal Usuário -->

        <%- include('../partials/footer') %>
        
        <script>
            function iniciaModal(modalId) {
                const modal = document.getElementById(modalId);
                modal.classList.add('mostrar');
                modal.addEventListener('click', (e) => {
                    if (e.target.id == 'fechar-tudo') {
                        e.preventDefault();
                        modal.classList.remove('mostrar');
                    }
                });
            }
            const btnUsuarioAdd = document.querySelector('#btn-add');
            btnUsuarioAdd.addEventListener('click', (e) => {
                e.preventDefault()
                const confirmaSenha = document.querySelector("#confirma-senha")
                const confirmaLabelSenha = document.querySelector("#confirmaLabel-senha")

                iniciaModal('modal-usuario');
            });
        </script>
        <script>
            const submit = document.querySelector(".btn-submit")
            const labelAcesso = document.querySelector("#label-acesso")
            const form = document.querySelector('#input-usuario');
            submit.addEventListener('click', (e) => {
                const acesso = document.querySelector("#acesso")
                const opt = acesso.value
                form.action = '/usuarios'
                if (opt == "" | opt == undefined) {
                    e.preventDefault()
                    acesso.style.border = "2px solid red"
                    labelAcesso.style.color = "red"
                    labelAcesso.innerHTML = 'Privilégio - escolha o nível de acesso'
                }


            })
        </script>
        '<%if(usuarioCadastrado.length >0){%>'
        <script>
            const btnUsuarioEdit = document.querySelector('#btn-edit');
            const id = document.querySelector('#id');
            const titulo = document.querySelector('#titulo');
            const usuario = document.querySelector('#nome-usuario');
            const acesso = document.querySelector('#acesso');
            const senha = document.querySelector('#nova-senha');
            const inputUsuario = document.querySelector('#input-usuario');
            const btnExcluir = document.querySelector('#btn-excluir');


            btnUsuarioEdit.addEventListener('click', () => {
                form1 = document.querySelector('form');
                form1.action = "/usuarios?_method=PUT"
                inputUsuario.value = "Atualizar"
                titulo.textContent = "Atualizar Usuário"
                senha.textContent = "Nova Senha"
                id.value = '<%=usuarioCadastrado[0].id%>'
                usuario.value = '<%=usuarioCadastrado[0].nome_usuario%>'
                acesso.value = '<%=usuarioCadastrado[0].acesso%>'
                iniciaModal('modal-usuario');
            });

            formDel = document.querySelector('.form-del');
            idDelete = document.querySelector('#id-del');
            btnExcluir.addEventListener('click', (e) => {
                e.preventDefault()
                formDel.action = "/usuarios?_method=DELETE"
                idDelete.value = "<%=usuarioCadastrado[0].id%>"
                iniciaModal('modal-delete')
            })
        </script>
        '<%}%>'

        <script>
            const del = document.getElementsByClassName('delete-funcionario');
            for (let i = 0; i < del.length; i++) {
                del[i].addEventListener('click', (e) => {
                    e.preventDefault()
                    const id = document.querySelector('#id');
                    const submit = document.querySelector('.btn-cliente');
                    const form = document.querySelector('.form-del');
                    console.log('Cheguei Aqui!!!')
                    form.action = `/funcionarios/${del[i].attributes.funcId.value}/?_method=DELETE`
                    id.value = del[i].attributes.funcId.value
                    console.log(id)
                    iniciaModal('modal-delete');
                })
            }            
        </script>

        <script type="text/javascript" src="/javascript/shared.js"></script>
    </body>
</html>